# IDE and editor folders
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
.env
.env.*

# Python
*.pyc
*__pycache__/
*.egg-info/
.eggs/
dist/
build/
*.so

# Checkpoints and images folders
/checkpoints
/segments

# Ignore Python compiled files
*.pyc
segmentsai_handler.cpython-39.pyc

# Ignore checkpoint files
*.pth
*.pt

# Ignore Python cache directories
*__pycache__/


# Experiement app creds
trichome-classification-study.json
/home/etaylor/code_projects/thesis/src/utils/google_drive_sync/creds

# Ignore data files
data/
classification_datasets/
uriel_images/

# App video tutorial
exp_tutorial.mp4

# YOLO runs
runs/
yaml_files/
color_segmentation_runs/
stigas_segmentation_runs/

# added files
settings.json

# sahi package images results
sahi_results/
/home/etaylor/code_projects/thesis/src/segmentation/notebooks/detectron2/sahi_results
output_results/

# images of the trichome dist classificatoin experiment
eval_models_on_trichome_dist_images

# Ignore assesing cannabis maturity experiment results
assessing_cannabis_exp_results
testing_end_to_end_pipe
results
evaluation_results
pistils_pipe_results

# credentials folders
creds

# stigmas images
extracted_stigmas

# document segmentation folders
document_segmentation
document_segmentation_old