# IDE and editor folders
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
.env
.env.*

# Python
*.pyc
__pycache__/
*.egg-info/
.eggs/
dist/
build/
*.so

# Checkpoints and model weights
/checkpoints
*.pth
*.pt

# Segments.ai data
/segments

# Data folders
data/
classification_datasets/
uriel_images/

# App video tutorial
exp_tutorial.mp4

# YOLO runs and outputs
runs/
yaml_files/
color_segmentation_runs/
stigas_segmentation_runs/

# SAHI results
sahi_results/
output_results/

# Experiment results
assessing_cannabis_exp_results
testing_end_to_end_pipe
results
evaluation_results
pistils_pipe_results
eval_models_on_trichome_dist_images

# Credentials
creds/

# Stigma images
extracted_stigmas

# Document segmentation
document_segmentation
document_segmentation_old

# Generated CSV files
src/utils/google_drive_utils/*.csv
